body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/023/407/403/non_2x/snowfall-background-white-background-with-snowflakes-in-the-style-of-light-purple-and-sky-blue-light-beige-and-white-soft-romantic-landscapes-generat-ai-free-photo.jpg");
    -webkit-transform: scale(0.999);
  transform: scale(0.999);
    color: white;
}

.fixed-nav-bar-right .navbar-link {
    color: white;
}

#INImg {
    content: url("/main.png");
}

input:checked + .slider-round {
    background-color: #000;
}
