body {
    background-image: url("https://img.freepik.com/premium-photo/flat-chinese-new-year-festival-celebration-background-china-city-old-houses-chinese_625492-24077.jpg?size=626&ext=jpg&ga=GA1.1.386372595.1698364800&semt=ais");
    -webkit-transform: scale(0.999);
  transform: scale(0.999);
    color: white;
}

.fixed-nav-bar-right .navbar-link {
    color: white;
}

#INImg {
    content: url("/main.png");
}

input:checked + .slider-round {
    background-color: #000;
}
