body {
    background-image: linear-gradient(to top, #ff1500, #ff4500, #ffa200, #ffd900);
    color: white;
}

.fixed-nav-bar-right .navbar-link {
    color: white;
}

#INImg {
    content: url("/main.png");
}

input:checked + .slider-round {
    background-color: #000;
}
