body {
    background-image:  linear-gradient(to bottom right, rgb(75, 0, 130), indigo);
    color: white;
}

.fixed-nav-bar-right .navbar-link {
    color: white;
}

#INImg {
    content: url("/main.png");
}

input:checked + .slider-round {
    background-color: #000;
}
