body {
    background-image: url("https://img.freepik.com/free-photo/mountain-forest-jungle-trees-cartoon-background-generative-ai_191095-1454.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1699401600&semt=ais
");
    color: white;
}

.fixed-nav-bar-right .navbar-link {
    color: white;
}

#INImg {
    content: url("/main.png");
}

input:checked + .slider-round {
    background-color: #000;
}
