.title {
  position: absolute;
  padding-left: 100%;
  white-space: nowrap;
  font-size: 30px;
  text-transform: uppercase;
  animation: stream 5s linear infinite;
}
 
@keyframes stream {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
