.title {
  position: absolute;
  padding-bottom: 40%;
  white-space: nowrap;
  font-size: 120px;
  text-transform: lowercase;
  animation: stream 5s linear infinite;
}
 
@keyframes stream {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
