.animate-charcter
{
   text-transform: lowercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  animation: textclip 5s linear infinite;
}

@keyframes textclip {
  to {
    background-position: center;
  }
}
