body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/010/823/943/original/anime-city-night-background-vector.jpg");
    color: white;
}

.fixed-nav-bar-right .navbar-link {
    color: white;
}

#INImg {
    content: url("/main.png");
}

input:checked + .slider-round {
    background-color: #000;
}
