.title {
    color: white;
}

body {
    background-image: url("https://wallpapers.com/images/hd/purple-night-city-tokyo-anime-eb2x4kr38r1evldl.jpg");
    color: white;
}

.fixed-nav-bar-right .navbar-link {
    color: white;
}

#INImg {
    content: url("/main.png");
}

input:checked + .slider-round {
    background-color: #000;
}
